*{
    margin: 0;
    padding: 0;
}
menu{
    background-image: linear-gradient(
         #072566,
         #3155A4,
         #fff
    );
    height: 100vh;
    font-family: barlow;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    width: 28vw;
}

.btn{
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;

}
#cover{
   
    width: 240px;
    aspect-ratio: 1/1;
    object-fit: cover;
  
    padding-left: 1em;
    padding-bottom: 1em;
   
    border-radius: 50px;
 
}
.Head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    margin: 3em 0 1em 0;
}

.player-music{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
}

.btn{
    font-size: 1.5em;
}

.btn-mudar{
    font-size: 2em;
}

.btn-bigbig{
    font-size: 4em;
}

.btn-active{
    color: #00af75;
}

#playlister-title{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom: 4em;
}

#song-info{
    font-size: 1.5em;
    font-weight: bolder;
}

.Barrinha{
    background: rgb(0, 0, 0);
    height: 3px;
    width: 100%;
    border-radius:15px ;
   
}

#barrinha_que_anda{
    height: inherit;
    background: rgb(8, 88, 28);
    width: var(--progress);
    border-radius: inherit;
    --progress: 0%;
}

#BARRAO{
   
    cursor: pointer;

}

#time-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;
}

.coraçãozinho{
    color: rgba(252, 25, 25, 0.842);
    font-size: 2em;
}